{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Charity List
{% endblock %}

{% block content %}
<h2>Charity List</h2>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Founded</th>
        <th>Description</th>
        <th>Contact</th>
    </tr>
    {% for charity in object_list %}
    <tr>
        <td>
            <a href="/charity/{{ charity.slug }}">
                {{ charity.name }}
            </a>
        </td>
        <td>
            {{ charity.founded_date }}
        </td>
        <td>
            {{ charity.description }}
        </td>
        <td>
            {{ charity.contact }}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="999"><em>There are currently no Charities available.</em></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}