{% extends parent_template|default:"base.html" %}

{% block title %}
    {{ block.super }} - Donation List
{% endblock %}

{% block content %}
    <h2>Donation List</h2>
    <table class="table">
        <tr>
            <th>Action</th>
            <th>Donor</th>
            <th>Charity</th>
            <th style="text-align: right">Amount</th>
        </tr>
        {% for donation in donation_list %}
            <tr>
                <td>
                    <a href="/donation/{{ donation.id }}">
                        View
                    </a>
                </td>
                <td>
                    {{ donation.donor }}
                </td>
                <td>
                    {{ donation.charity }}
                </td>
                <td style="text-align: right">
                    {{ donation.amount }}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="999"><em>There are currently no Donations recorded.</em></td>
            </tr>
        {% endfor %}
    </table>

    <a href="/giving/donationNew">New Donation</a>
{% endblock %}