{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - Donor List
{% endblock %}

{% block content %}
<img src="/static/giving/images/background.jpg" />

<h2>Donor List</h2>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    {% for donor in donor_list %}
    <tr>
        <td>
            <a href="">
                {{ donor.first_name }}
            </a>
        </td>
        <td>
            {{ donor.last_name }}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td><em>There are currently no Donors available.</em></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}